<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/thesis</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Eredmenyek.007</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <mapping class="thesis.model.mtsp.DEdge"/>
        <mapping class="thesis.model.mtsp.DEdgeArray"/>
        <mapping class="thesis.model.mtsp.DGps"/>
        <mapping class="thesis.model.mtsp.DGpsArray"/>
        <mapping class="thesis.model.mtsp.DGraph"/>
        <mapping class="thesis.model.mtsp.DObjective"/>
        <mapping class="thesis.model.mtsp.DProgress"/>
        <mapping class="thesis.model.mtsp.DResult"/>
        <mapping class="thesis.model.mtsp.DSalesman"/>
        <mapping class="thesis.model.mtsp.DSetting"/>
        <mapping class="thesis.model.mtsp.DTask"/>
        <mapping class="thesis.model.mtsp.DTest"/>
        <mapping class="thesis.model.mtsp.DTestItem"/>

        <mapping class="thesis.model.OHibernateManager"/>

    </session-factory>
</hibernate-configuration>
